{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "react-app",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@typescript-eslint", "react-hooks", "header", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": ["warn"],
    "prefer-template": "off",
    "no-console": "off",
    "no-nested-ternary": "off",
    "no-useless-constructor": "off",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-useless-constructor": ["off"],
    "@typescript-eslint/no-empty-interface": ["off"]
  }
}
