{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "prefer-template": "off",
    "no-console": "off",
    "no-nested-ternary": "off"
  }
}